

</main>

<div class="foot">
  <footer class="ui teal inverted footer sticky segment">

      <a href="https://github.com/NG-SF"><i class="github square icon"></i></a>

  </footer>
</div>

</body>
</html>
