

</main>

<div class="foot">
  <footer class="ui teal inverted footer sticky  grid segment">
    <div class="ui container">
      <a href="https://github.com/NG-SF"><i class="github square icon"></i></a>
    </div>
  </footer>
</div>

</body>
</html>
