<html lang="en">
  <head>
    <title>PickMeUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
<link rel="icon" type="image/png" href="/images/smile.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/app.css">
  </head>

<body>
  
<nav role="navigation">
	<ul class="nav-list">
		<div class="nav-container">
      <li><a class="active" href="/jokes" disabled>PickMeUp</a></li>
			<li><a href="/jokes">Home</a></li>
			<li><a href="/jokes/#part-3">About</a></li>
      <li><a href="/jokes/login">Login / Demo</a></li>    
      <li><a href="/jokes/signUp">Sign Up</a></li>    
      <li class="right"><a href="/jokes">Log Out</a></li>
		</div>
		</ul>
	</nav>
  
  <main>
