<html lang="en">
  <head>
    <title>FunKeeper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <nav class="ui teal inverted menu">
        <div class="ui container">
          <div class="ui header purple item"><i class="smile icon"></i>FunKeeper</div>
          <a href="/jokes" class="item">Home</a>
          <a href="/jokes" class="item">Login</a>
          <a href="/jokes/new" class="item">Add new joke</a>
        </div>
    </nav>
