<html lang="en">
  <head>
    <title>PickMeUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <nav class="ui purple inverted menu" role="navigation">
        <div class="ui container">
          <div class="ui header large brown inverted item"><i class="smile icon"></i>PickMeUp</div>
          <a href="/jokes" class="item">Home</a>
          <a href="/jokes/login" class="item">Login</a>
          <a href="/jokes/login" class="item">Sign Up</a>
          <a href="/jokes/new" class="item">Add new joke</a>
          <a href="/jokes" class="item">Log Out</a>
        </div>
    </nav>
  <main>
