<% include ./partials/header %>

<div class="ui main text container segment">
  
  <h1 class="ui huge header"> <%= error %></h1>
  
  <a class="ui blue basic big button" role="button" href="/jokes">Go back to home page</a>

</div>

</main>
</body>
</html>
