<% include ./partials/header %>

<div class="form-responsive">
<form class="ui big form warning" action="/users/login" method="POST">
  <div class="ui raised segment">

  <div class="ui raised segment login">
   <section class="demo">
      <h2 class="ui teal header">Demo account for testing</h2>
      <p class="text">Username: hello</p>
      <p class="text">Password: hello5</p>
    </section>
  </div>

  <h2 class="ui purple header">Log-in</h2>
    <div class="ui error">
      <div class="required field">
        <label for="userName">Username:</label>
          <div class="ui left icon input">
            <input type="text" name="username" placeholder="Username" required id="userName">
              <i class="paw icon"></i>
            </div>
          </div>
          <section class="ui error message">
            <h2 class="ui header">Validation Error</h2>
          <p>Username is required</p>
          </section>
        </div>

      <div class="ui error">
        <div class="required field">
          <label for="password">Password:</label>
            <div class="ui left icon input">
              <input type="password" name="password" placeholder="Password" required id="password">
              <i class="lock icon"></i>
            </div>
          </div>
            <section class="ui error message">
            <h2 class="ui header">Validation Error</h2>
          <p>Password is required</p>
          </section>
      </div>

    <button class="ui large purple submit button" type="submit">Submit</button>

  </div>
</form>
</div>

</main>
</body>
</html>
