
body {
  padding-bottom: 55px;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-top: 1%;
  flex: 1;
}

.ui.menu {
  min-height: 4.5rem;
}

#banner {
  padding: 130px;
  margin-top: 4.5rem;
}

nav a,
nav .header {
  font-size: 1.3rem;
}

i.icon {
  font-size: 2em;
}

#btn-delete {
  display: inline;
}

.text {
  font-size: 1.3rem;
}

.joke-content {
  font-size: 1.3rem;
}

blockquote {
  font-size: 1.1rem;
}

.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 30%;
  width: auto;
}

.btns {
  text-align: center;
}

.ui.button {
  margin-top: 11px;
}

.login {
  margin-top: 5%;
}

.foot {
  margin-top: 3%;
}

.ui.footer.segment {
  text-align: center;
  width: 100%;
  height: 85px;
  background: rgba(222, 127, 11, 0.543);
}
