html, body {
  height: 100%;
}

body {
  padding-bottom: 55px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FBF2EF;
}

main {
  flex: 1 0 auto;
}

#nav {
  background-color: #EAB687;
  margin: 0;
}

.ui.menu {
  min-height: 4.5rem;
}

#banner {
  padding: 200px;
  /* margin-top: -1.2rem; */
  background-color:#E9BAA8;
  text-align: center;
}

#banner h1 {
  font-size: 3rem;
  font-style: italic;
  line-height: 5.3rem;
  line-break: auto;
  word-break: break;
}

nav a,
nav .header {
  font-size: 1.3rem;
}

i.icon {
  font-size: 2em;
}

#btn-delete {
  display: inline;
}

.text {
  font-size: 1.4rem;
}

.right {
  text-align: right;
}

.joke-content {
  font-size: 1.3rem;
}

.demo {
  padding-top: 3%;
  text-align: left;
}

blockquote {
  font-size: 1.3rem;
  line-height: 2rem;
}

#part-1,
#part-2 {
  padding-top: 11%;
  padding-bottom: 11%;
}

#part-2bg {
  background-color: #FEEFD6;
}

#part-3bg {
  background-color: #F1D3C7;
}
#part-3, 
#part-4 {
  padding-top: 7%;
  padding-bottom: 15%;
}

#part-4bg {
  background-color: #E5DBD5;
}

#part-4 li {
  padding-top: 10px;
  padding-bottom: 15px;
}

#part-4 a {
  color: #55443E;
  line-height: 2.5rem;
  font-size: 1.4rem;
}

.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 30%;
  width: auto;
}

.btns {
  text-align: center;
}

.ui.button {
  margin-top: 11px;
}

.login {
  margin-top: 5%;
}

label {
  text-align: left;
}

.ui.raised.segment {
  padding: 20px;
}

.ui.form {
  width: 28%;
  min-width: 300px;
  margin: 30px auto;
  text-align: center;
  background-color: #F3EEEB;
}

.ui.form .field>label {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-bottom: 10px;
}

.ui.form input[type=text],  
.ui.form input[type=password] {
  margin-left: 4%;
  font-size: 1.1em;
}

.hiUser {
  color: rgb(152, 10, 213);
  font-size: 2.3rem;
}

footer {
  text-align: center;
  padding: 20px;
  height: 100px;
  background: #ff9999;
}
