body {
  background-color: aliceblue;
}

/* .container.main {
  margin-top: 5%;
} */

nav a,
nav .header {
  font-size: 1.3rem;
}

i.icon {
  font-size: 2em;
}

#btn-delete {
  display: inline;
}

p {
  padding-bottom: 20px;
}

.joke-content {
  font-size: 1.3rem;
}

.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 50%;
  width: auto;
}

.btns {
  text-align: center;
}

.footer {
  text-align: center;
  width: 100%;
}
